## Exploring data arrays with NumPy

In [1]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)

# The data has been loaded into a Python **list** structure, which is a good data type for general data manipulation, but it's not optimized for numeric analysis. For that, we're going to use the **NumPy** package, which includes specific data types and functions for working with *Num*bers in *Py*thon.

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]

In [2]:
import numpy as np
grades = np.array(data)
print(grades)

[50 50 47 97 49  3 53 42 26 74 82 62 37 15 70 27 36 35 48 52 63 64]

## Comparing the differences between a **list** and a **Numpy** Array

In [3]:
print (type(data),'x 2:', data * 2)
print ('----')
print (type(grades),'x 2:', grades * 2)

<class 'list'> x 2: [50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, 50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
----
<class 'numpy.ndarray'> x 2: [100 100  94 194  98   6 106  84  52 148 164 124  74  30 140  54  72  70
  96 104 126 128]

In [4]:
grades.shape

(22,)

In [5]:
# The shape command confirms the array contains only 1 dimension, which contains 22 elements
grades [0]

# One can access all the elements from the array

50

In [6]:
grades.mean()

49.18181818181818

In [7]:
# Adding a second set of data for the same students. This time, we'll record the typical number of hours per week they devoted to studying.
# Define an array of study hours
study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,
               13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]

# A 2D Array of Students Data
student_data = np.array([study_hours,grades])
student_data

array([[10.  , 11.5 ,  9.  , 16.  ,  9.25,  1.  , 11.5 ,  9.  ,  8.5 ,
        14.5 , 15.5 , 13.75,  9.  ,  8.  , 15.5 ,  8.  ,  9.  ,  6.  ,
        10.  , 12.  , 12.5 , 12.  ],
       [50.  , 50.  , 47.  , 97.  , 49.  ,  3.  , 53.  , 42.  , 26.  ,
        74.  , 82.  , 62.  , 37.  , 15.  , 70.  , 27.  , 36.  , 35.  ,
        48.  , 52.  , 63.  , 64.  ]])

In [8]:
# Now the Data is converted to a 2D Array
student_data.shape

(2, 22)

In [9]:
student_data[0][0]
# From Students data, the first array i.e Study hours it sliced the first value

10.0

In [10]:
# Get the mean value of each sub-array
avg_grades = student_data[1].mean()
avg_study = student_data[0].mean()

print('Average study hours: {:.2f}\nAverage Grades: {:.2f}'.format(avg_study, avg_grades))

Average study hours: 10.52
Average Grades: 49.18

# Exploring the Tabular Data with Pandas
  - NumPy provides a lot of the functionality and tools you need to work with numbers, such as arrays of numeric values. However, when you start to deal with two-dimensional tables of data, the **Pandas** package offers a more convenient structure to work with: the **DataFrame**.

In [11]:
import pandas as pd

df_students = pd.DataFrame({'Name': ['Jay', 'Janvi', 'Shruti', 'Abhishek', 'Clyde', 'Khyati', 'Iliyas', 'Harmaan',
                                     'Vasu', 'Meet', 'Saurabh', 'Sagar', 'Naina', 'Kishan', 'Urvaksh',
                                     'Darshan','Saakshi','Dhwani','Pooja','Anand','Uday','Vatsal'],
                            'StudyHours':student_data[0],
                            'Grade':student_data[1]})
df_students

        Name  StudyHours  Grade
0        Jay       10.00   50.0
1      Janvi       11.50   50.0
2     Shruti        9.00   47.0
3   Abhishek       16.00   97.0
4      Clyde        9.25   49.0
5     Khyati        1.00    3.0
6     Iliyas       11.50   53.0
7    Harmaan        9.00   42.0
8       Vasu        8.50   26.0
9       Meet       14.50   74.0
10   Saurabh       15.50   82.0
11     Sagar       13.75   62.0
12     Naina        9.00   37.0
13    Kishan        8.00   15.0
14   Urvaksh       15.50   70.0
15   Darshan        8.00   27.0
16   Saakshi        9.00   36.0
17    Dhwani        6.00   35.0
18     Pooja       10.00   48.0
19     Anand       12.00   52.0
20      Uday       12.50   63.0
21    Vatsal       12.00   64.0

#### Finding and Filteting data in a DataFrame

In [12]:
# Get the data for the index value 5
df_students.loc[5]

Name          Khyati
StudyHours       1.0
Grade            3.0
Name: 5, dtype: object

In [13]:
# Get data as range of index values
df_students.loc[0:5]

       Name  StudyHours  Grade
0       Jay       10.00   50.0
1     Janvi       11.50   50.0
2    Shruti        9.00   47.0
3  Abhishek       16.00   97.0
4     Clyde        9.25   49.0
5    Khyati        1.00    3.0

In [14]:
# In addition to being able to use the **loc** method to find rows based on the index, you can use the **iloc** method to find rows based on their ordinal position in the DataFrame (regardless of the index)

df_students.iloc[0:5]

       Name  StudyHours  Grade
0       Jay       10.00   50.0
1     Janvi       11.50   50.0
2    Shruti        9.00   47.0
3  Abhishek       16.00   97.0
4     Clyde        9.25   49.0

# Spot the Difference

- The **loc** method returned rows with index *label* in the list of values from *0* to *5*, which includes *0*, *1*, *2*, *3*, *4*, and *5* (six rows). However, the **iloc** method returns the rows in the *positions* included in the range 0 to 5. Since integer ranges don't include the upper-bound value, this includes positions *0*, *1*, *2*, *3*, and *4* (five rows).

- **iloc** identifies data values in a DataFrame by *position*, which extends beyond rows to columns. So, for example, you can use it to find the values for the columns in positions 1 and 2 in row 0, like this

In [17]:
df_students.iloc[0,[1,2]]

StudyHours    10.0
Grade         50.0
Name: 0, dtype: object

In [20]:
df_students.loc[0,'Grade']

50.0

In [18]:
df_students.loc[df_students['Name']=='Janvi']

    Name  StudyHours  Grade
1  Janvi        11.5   50.0

In [19]:
# The Filtering can be done even without using loc method
df_students[df_students['Name']=='Janvi']

    Name  StudyHours  Grade
1  Janvi        11.5   50.0

In [20]:
# Using Query Method
df_students.query('Name=="Janvi"')

    Name  StudyHours  Grade
1  Janvi        11.5   50.0

In [21]:
df_students[df_students.Name=="Janvi"]

    Name  StudyHours  Grade
1  Janvi        11.5   50.0

#### Loading a DataFrame from a File.

In [23]:
get_ipython().system('wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv')
df_students= pd.read_csv('grades.csv', delimiter=',', header='infer')
df_students.head()

--2023-08-18 15:58:27--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 322 [text/plain]
Saving to: ‘grades.csv.1’

grades.csv.1        100%[===================>]     322  --.-KB/s    in 0s

2023-08-18 15:58:27 (4.10 MB/s) - ‘grades.csv.1’ saved [322/322]

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

## Handling Missing Values

In [24]:
df_students.isnull()

     Name  StudyHours  Grade
0   False       False  False
1   False       False  False
2   False       False  False
3   False       False  False
4   False       False  False
5   False       False  False
6   False       False  False
7   False       False  False
8   False       False  False
9   False       False  False
10  False       False  False
11  False       False  False
12  False       False  False
13  False       False  False
14  False       False  False
15  False       False  False
16  False       False  False
17  False       False  False
18  False       False  False
19  False       False  False
20  False       False  False
21  False       False  False
22  False       False   True
23  False        True   True

In [26]:
# When dealing with larger dataframes it will be very inefficient to see and verify every rows and columns individually
df_students.isnull().sum()

Name          0
StudyHours    1
Grade         2
dtype: int64

In [28]:
# To see them in context, we can filter the DataFrame to include only rows where any of the columns (axis 1 of the DataFrame) are null.
df_students[df_students.isnull().any(axis=1)]

    Name  StudyHours  Grade
22  Bill         8.0    NaN
23   Ted         NaN    NaN

In [29]:
# When the DataFrame is retrieved, the missing numeric values show up as **NaN** (*not a number*).
"""
One common approach is to *impute* replacement values. For example, if the number of study hours is missing,
we could just assume that the student studied for an average amount of time and replace the missing value with the mean study hours.
To do this, we can use the **fillna** method like this:
"""
df_students.StudyHours = df_students.StudyHours.fillna(df_students.StudyHours.mean())
df_students

         Name  StudyHours  Grade
0         Dan   10.000000   50.0
1       Joann   11.500000   50.0
2       Pedro    9.000000   47.0
3       Rosie   16.000000   97.0
4       Ethan    9.250000   49.0
5       Vicky    1.000000    3.0
6    Frederic   11.500000   53.0
7      Jimmie    9.000000   42.0
8      Rhonda    8.500000   26.0
9    Giovanni   14.500000   74.0
10  Francesca   15.500000   82.0
11      Rajab   13.750000   62.0
12    Naiyana    9.000000   37.0
13       Kian    8.000000   15.0
14      Jenny   15.500000   70.0
15     Jakeem    8.000000   27.0
16     Helena    9.000000   36.0
17      Ismat    6.000000   35.0
18      Anila   10.000000   48.0
19       Skye   12.000000   52.0
20     Daniel   12.500000   63.0
21      Aisha   12.000000   64.0
22       Bill    8.000000    NaN
23        Ted   10.413043    NaN

In [30]:
# Alternatively, it might be important to ensure that you only use data you know to be absolutely correct.
# In this case, you can drop rows or columns that contain null values by using the **dropna** method.
df_students = df_students.dropna(axis=0, how='any')
df_students

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

## Explore Data in the DataFrame
  - Since we have cleaned up the missing values, we'll explore the data in the dataframe.

In [32]:
# Comparing the mean study hours and the grades
mean_study = df_students['StudyHours'].mean()

# Getting the mean grades

mean_grades = df_students['Grade'].mean()

print("Average weekly study hours: {:.2f}\nAverage grade: {:.2f}".format(mean_study,mean_grades))

Average weekly study hours: 10.52
Average grade: 49.18

In [33]:
# Filter the dataframe to findout students who studied more than the average of Study hours
df_students[df_students.StudyHours> mean_study]

         Name  StudyHours  Grade
1       Joann       11.50   50.0
3       Rosie       16.00   97.0
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

In [34]:
# The filtered result is itself a Dataframe, so you can wor with its columns just like any other Dataframe
# Average grades of students who undertook more than the average amount of Study time

# What was their mean grade?
df_students[df_students.StudyHours > mean_study].Grade.mean()

66.7

In [36]:
# Let's assume the passing grade for the course is 60.
# Use that information to add a new column to the DataFrame that indicates whether or not each student passed

# Creating a Series with a Boolean indicator and then concatenate the series in the DataFrame

passes = pd.Series(df_students['Grade'] >= 60)
df_students = pd.concat([df_students, passes.rename("Pass")], axis = 1)

In [37]:
# View the DataFrame
df_students.head()

    Name  StudyHours  Grade   Pass
0    Dan       10.00   50.0  False
1  Joann       11.50   50.0  False
2  Pedro        9.00   47.0  False
3  Rosie       16.00   97.0   True
4  Ethan        9.25   49.0  False

- DataFrames are designed for tabular data, and you can use them to perform many of the same kinds of data analytics operations you can do in a relational database, such as grouping and aggregating tables of data.

In [38]:
print(df_students.groupby(df_students.Pass).Name.count())

Pass
False    15
True      7
Name: Name, dtype: int64

In [40]:
print(df_students.groupby(df_students.Pass)['StudyHours','Grade'].mean())

       StudyHours      Grade
Pass
False    8.783333  38.000000
True    14.250000  73.142857

<ipython-input-40-87686137949c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df_students.groupby(df_students.Pass)['StudyHours','Grade'].mean())

In [42]:
# Creating a DataFrame with the Data sorted by Grades (descending)
df_students = df_students.sort_values('Grade', ascending=False)
df_students

         Name  StudyHours  Grade   Pass
3       Rosie       16.00   97.0   True
10  Francesca       15.50   82.0   True
9    Giovanni       14.50   74.0   True
14      Jenny       15.50   70.0   True
21      Aisha       12.00   64.0   True
20     Daniel       12.50   63.0   True
11      Rajab       13.75   62.0   True
6    Frederic       11.50   53.0  False
19       Skye       12.00   52.0  False
1       Joann       11.50   50.0  False
0         Dan       10.00   50.0  False
4       Ethan        9.25   49.0  False
18      Anila       10.00   48.0  False
2       Pedro        9.00   47.0  False
7      Jimmie        9.00   42.0  False
12    Naiyana        9.00   37.0  False
16     Helena        9.00   36.0  False
17      Ismat        6.00   35.0  False
15     Jakeem        8.00   27.0  False
8      Rhonda        8.50   26.0  False
13       Kian        8.00   15.0  False
5       Vicky        1.00    3.0  False